# udev rule to disable write cache on HDDs only for ceph clusters
ACTION=="add", SUBSYSTEM=="scsi_disk", ATTR{queue/rotational}=="1", ATTR{cache_type}:="write through"